@import '../../utilities/variable.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.Events{
    position: relative;
    img{
        width: 740px;
        margin: 25px 0 ;
        border-radius: 20px;
    }
    h1{
        font-size: 3.6rem;
        text-shadow: -6px 0px 0px var(--red);
        padding: 10px 30px;
        color: var(--main-lightyellow);
      }
      p{
          font-size:.4rem;
          position: absolute;
          left: -62px;
          bottom:-362px;
      }

    .event-list{
        display:flex;
        padding-bottom: 5px;
        flex-wrap: wrap;
        .event-item{
            background: rgba(0, 0, 0, 0.45);
            border: 3px solid var(--red);
            outline: 3px solid white;
            width: 90%;
            margin: 20px auto;
            padding-bottom: 20px;
            h3{
                font-size: 1.6rem;
                text-shadow: -4px 0px 0px var(--red);
                color: var(--main-yellow);
            }
            .event-body{
                white-space: pre-wrap;
                line-height: 1.8rem;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.05rem;
                
            }
        }
    }
      
}
@media (max-width: 1200px){
    .Events p{
        display: none;
    }
}
@media (max-width: $phone +65px){
    .Events{
        .event-list{
            display:flex;
        }
        img{
            display:none
        }
        h1{
            font-size: 3.2rem;
          }
      }
    }