@import '../../utilities/variable.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.Events{
    position: relative;
    .eImage{
        width: 740px;
        margin: 25px 0 ;
        border-radius: 20px;
    }
    h1{
        font-size: 3.6rem;
        text-shadow: -6px 0px 0px var(--red);
        padding: 50px 30px 10px;
        margin: 0;
        color: var(--main-lightyellow);
      }
      p{
          font-size:.4rem;
          position: absolute;
          left: -62px;
          bottom:-362px;
      }

    .event-list{
        display:flex;
        padding-bottom: 55px;
        flex-wrap: wrap;
        .event-item{
            background: rgba(0, 0, 0, 0.45);
            border: 3px solid var(--red);
            outline: 3px solid white;
            width: 80%;
            margin: 20px auto 20px;
            padding-bottom: 45px;
            // height: 500px;
            iframe{
                width: 100%;
                height: 700px;
            }
            h3{
                font-size: 1.6rem;
                text-shadow: -4px 0px 0px var(--red);
                color: var(--main-yellow);
            }
            .event-body{
                white-space: pre-wrap;
                line-height: 1.8rem;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.05rem;
                
            }
        }
        .pdf-link{
            margin: 0 auto;
            // width: 90%;
            // background: red;
            font-size: .8rem;
            max-width: 420px;
            padding: 10px 5px 11px;
            color: var(--red);
        }
    }
      
}
@media (max-width: 1200px){
    .Events p{
        display: none;
    }
}
@media (max-width: $phone +65px){
    .Events{
        .event-list{
            display:flex;
            .event-item{
                width: 97%;
                display: none;
            }
            .pdf-link{
                font-size: 1.3rem;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                border: 3px dashed var(--main-lightyellow);
                background-color: black;
                border-radius: 10px;
                padding: 15px 14px 16px;
                margin-top: 30px;
            }
        }
        .eImage{
            display:none
        }
        h1{
            font-size: 3.2rem;
          }
      }
    }