@import "utilities/variable.scss";
*{
  box-sizing: border-box; 
}

:root {
  --main-lightyellow:  #C15E94;
  --main-yellow: #C15E94;
  /* --main-lightyellow:  rgb(255, 250, 104);
  --main-yellow: rgb(250, 233, 140);  */
  --main-darkyellow: #C15E94;

  --blue: rgb(54,163,250);

  --pink: #C16794;
  --pink-light: #C16794;
  /* --red: rgb(255,102,102); */
  --red:   #4F1150;
  /* --red :  rgb(219,13,64); */
  --red-dark: #4F1150;
  --red-dark: #C16794;
  /* --red: rgb(24,24,24); */
  --light-black: rgb(24,24,24);
  --black: white;
  --black-transparent: rgba(0, 0, 0, 0.73);
  --black-text: black;

  --main-padding: 15px;  

  --tablet-point:  1005px;
  --phone-point:  705px;

  --event-background : black;
}


.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.App {
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: 600;
  min-height: 100vh;
  /* height: 100vh; */
  background-image: url('./images/Softball-big.jpg');
  background-image: url('./images/softball-field-background-pg.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  padding: 55px 10px 35px;
  padding-top: 0;
  height: 91%;
  /* background-color: var(--red); */
  /* background-image: url('./images/behind-the-plate.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center; */
}

.container-after{
  background: var(--black-transparent);
  height: 100%; 
  padding-top: .1px;  
  color: white;
  position: relative
}
@media only screen and (max-width: 770px) {
  .container{
    padding: 0px 0 35px;
  }
}
.button-main{
  // font-family: 'Luckiest Guy', cursive;
  background-color: var(--main-yellow);
  border: 4px dashed var(--red);
  /* border-style: groove; */
  padding: 8px 75px 10px;
  font-size: 1.4rem;
  color: var(--black);
  font-weight: bold;
  border-radius: 12px;
  transition: all 0.3s;
}
.button-main:focus{
  outline: none;
}
.button-main:hover{
  background: var(--main-lightyellow);
  // color: var(--red-dark);
  opacity: 0.8;
  border: 4px dashed var(--red-dark);
  box-shadow: 0px 0px 15px 8px rgba(0,0,0, .575);
  cursor: pointer;
}
.button-main:active{
  background:   var(--main-darkyellow);
  color:  white;
}





