@import "../../utilities/variable.scss";

.Coaches{
    // background-image: url('../../images/fence-texture-1.png');
}
.Coaches h1{
    font-size: 1.5rem;
    padding: 10px 0 5px;
    text-shadow: -3px -2px 0px black;
}
.Coaches h2{
    font-size: 30px;

    margin: 20px 0 0px;
    width: auto;
    padding-bottom: 25px;
     padding-right: 5px;
     padding-left:5px;

}


.Coaches .coach-container {
    display:flex;

    justify-content: center;
    flex-wrap: wrap;

}
/* 
Coach Cards
========================== */

.Coaches .coach-container .coach-card{
    width:100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    margin: 20px 2.5%;
    border-radius: 40px;
    
}
.Coaches .coach-container .card-2nd{
    /* (54,153,236) */

}

// .Coaches .coach-container .coach-card.deactive{

// }


/* images */
/* ======================================== */
.Coaches .coach-container .coach-card .img-div{
    height: 420px;
    margin: 0px auto 0px;
    display: flex;
    aspect-ratio: 1;

}
.Coaches .coach-container .coach-card .img-div .img-overflow{
    width: 100%;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
    transition: width .7s ;
    
}
.singleCoachImage{

}
.Coaches .coach-container .coach-card .img-div .active{
    // width: 150px;
    // height: 200px;
}

.Coaches .coach-container .coach-card .img-div img{
    width: 100%;
    // border-radius: 10px;
    opacity: .89;
    margin: 25px 3px 0px;
    transition: margin .4s, opactiy .4s;
}
.Coaches .coach-container .coach-card .img-div img:hover{
    transition: margin .4s, opactiy .4s;
    margin: 0px 3px 0px;
    opacity: 1.0;
}
.Coaches .coach-container .coach-card .img-div .active img{
    margin: 0px 0px 0px;
}
.Coaches .coach-container .coach-card .img-div .coach-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: .89;
    margin: 25px 3px 0px;
    transition: margin .4s, opacity .4s, transform .4s;
    display: block;
}
.Coaches .coach-container .coach-card .img-div .coach-image:hover{
    margin: 0px 3px 0px;
    opacity: 1.0;
}
.Coaches .coach-container .coach-card .img-div .active .coach-image{
    margin: 0px 0px 0px;
    opacity: 1.0;
}
.Coaches .coach-container .coach-card .img-div .img-overflow:hover{
    // width: 150px;a
    // margin: 0 4px 0;
    transition: width .7s;
 

}
.Coaches .coach-container .coach-card .img-div .active img{
    opacity: 1.0;
}
.Coaches .coach-container .coach-card .img-div .active img:hover{
    opacity: 1.0;
}
.Coaches .coach-container .coach-card .img-div .index0{
    order: 2;
}
.Coaches .coach-container .coach-card .img-div .index1{
    order: 1;
}
.Coaches .coach-container .coach-card .img-div .index2{
    order: 3;
}

// .coach-card { background-image: linear-gradient(
//           to bottom right,
//           rgb(15, 15, 15) 0%,
//           rgb(37, 37, 37)  40%,
//           transparent 70%,
//           transparent  100%
//       );
//       background-size: calc(200% + 4px) calc(100% + 4px);
//       background-position: 0% 100%;
//       color: white; max-width: 400px; margin: 0 auto;
//       border-radius: 15px;
//       padding:5px;
//       padding-top:20px;
//       // box-shadow: var(--elev-2);
//       border: 2px solid black;
//     }

@media (max-width: $phone){
    .Coaches{
        padding-top: 60px;
    }
    .Coaches .coach-container .coach-card .img-div{
        // margin-bottom: 200px;
        flex-wrap: wrap;
        .index0{
            order: 1;
        }
        .index1{
            order: 2;
            display: none;
        }
        .index2{ 
            order: 3;
            display: none;
        }
    }
    .Coaches .coach-container .coach-card .img-div{
    height: 320px;

}
.Coaches .coach-container .coach-card .img-div .img-overflow{
    width: 100%;
    height: 320px;
    
}
}

/* buttons */
/* ==================================== */
.Coaches .coach-container .coach-card .button-main{
    // border: 4px solid rgba(54,163,250, 1);
    margin: 15px 0 15px;
    min-width:95%;
    padding-top: 15px;
    padding-bottom:15px;
    // border-radius: 80px;
}
.Coaches .coach-container .coach-card .button-main:hover{
    cursor: pointer;
}
.Coaches .coach-container .coach-card .button-main::after{
    border: 2px solid #ccc;
}
// .Coaches .coach-container .coach-card .btn-div{
    
// }
.Coaches .coach-container .card-2nd .button-main{
    // border: 4px solid rgba(240, 15, 64, 1);
    // border-radius: 0px;
    // border-bottom-right-radius: 0px;
    // border-bottom-left-radius: 0px;
    // background-color: rgba(124,193,255, 1);
}
.Coaches .coach-container .card-2nd .button-main:hover{
    cursor: pointer;
}

.Coaches .end-quote{
    padding-bottom: 75px;
}


/* POP UP STYLES */
/* ================================= */

.popup-main{
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    z-index: 1000;
    background-image: url('../../images/fence-texture-2.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    display: flex;
    /* display:none; */
    padding:10px;
    color:white;
}
.popup-main.deactive{
    display: none;
}
.popup-main .popup-window{
    width: 100%;
    max-width: 1200px;
    min-width: 740px;
    min-height: 150px;
    margin: auto auto;
    position: relative;
    border: 3px solid var(--primary);
    padding-bottom: 45px;
    background-image: linear-gradient(to bottom right, rgb(40,40,40) 15%, var(--primary-dark) 40%);
    background-size: calc(200% + 4px) calc(160% + 4px);
    background-position: 0% 42%;
}

/* Media Queries -- phone and tablet styles 
*/

@media (max-width: $phone){
    .popup-main .popup-window{
        width: 100%;
        min-width: 240px;
    }
    .popup-main{
        padding:0;
    }
}

/* close buttons */
/* =================================== */

.popup-main .popup-window .close-x{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 15px;
    background-color: rgba(0,0,0,.5);
    border-bottom-left-radius: 15px;
}
.popup-main .popup-window .close-x:hover{
    color: rgb(155,155,155);
    background-color: rgba(0,0,0,.6);
    cursor: pointer;
}

.popup-main .popup-window .close-button{
    position: absolute;
    bottom: 5px;
    right: 40%;
    width: 20%;
    padding: 12px 25px;
}

/* Popup Content  */
/* ================================= */

.popup-main .popup-window .popup-text{
    font-size: 1.1rem;
    white-space: pre-wrap;
    text-align: left;
    padding: 30px 60px 60px;
    line-height: 1.7rem;
}

.popup-main .popup-window h1{
    font-size: 3.6rem;
    padding: 10px 30px;
    margin: 30px 0 0;
    font-weight: bold;
}
/* Media Queries -- phone and tablet styles 
*/
@media (max-width: $phone){
    .popup-main .popup-window .close-button{
        right: 33%;
        width: 34%;
    }
    .popup-main .popup-window .popup-text{
        padding: 30px 25px 60px;
    }
    .popup-main .popup-window h1{
        font-size: 3.0rem;
    }
}

