.page{
    padding: 20px 0 100px;
    min-height: 40vh;
}
.edit-tabs{
    display:flex;
justify-content: center;
align-items: center;
border-radius: 30px;
overflow: hidden;
}
.tab{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 6px 20px 8px;
    display: inline-block;
    transition: all 0.3s;
    border-bottom: 3px solid transparent;
}
.tab:hover{
    color: var(--accent);
    cursor: pointer;
}
.tab-active{
    border-bottom-color: white;
}
.edit-section-body{
    display:none;
    padding: 5px 10px;
}
.section-active{
    display: block;
}
@media (max-width: 600px){
    .edit-tabs{
       flex-direction:column;
       .tab{
        border-radius: 0px;
        width:100%;
        margin-bottom: 2px;
       }
       .tab:last-child{
        margin-bottom: 0;
       }
    }
}