/* :root {
  --main-lightyellow:  rgb(250, 233, 140);
  --main-yellow: rgb(255, 250, 104);  
  --main-darkyellow: rgb(136, 126, 73);

  --main-pink: rgb(255,102,102);
  --main-lightpink: rgb(226,138,126);
  --red: red;

  --main-padding: 15px;  
} */

.Home{
    background: white;
    height: 100%; 
    padding-top: 1px;  
    
}

.Home .images{

}

.Home .images img{
  height: 280px;
  width: 430px;
  object-fit: cover;
}