/* :root {
  --main-lightyellow:  rgb(250, 233, 140);
  --main-yellow: rgb(255, 250, 104);  
  --main-darkyellow: rgb(136, 126, 73);

  --main-pink: rgb(255,102,102);
  --main-lightpink: rgb(226,138,126);
  --red: red;

  --main-padding: 15px;  
} */

.Home{
    height: 100%; 

    
}

/* images */
.Home .images{
  display: flex;
  justify-content: space-around;

}

.Home .images img{
  height: 280px;
  width: 48%;
  object-fit: cover;
  margin: 20px 0 120px;
  /* border-radius: 15px; */
  /* box-shadow: -2px 3px 10px white; */
  border-top: 4px solid var(--red);
  border-bottom: 4px solid var(--red);
}
.Home .images img:first-child{
  margin-right: 4%;
}
.Home .sillouete{
  height: 325px;
  border-radius: 90%;
  margin: 75px auto;
  border: 15px solid var(--red);
  box-shadow: 0px 3px 8px white;
}

/* buttons */
.Home .buttons{
  /* width:40%; */
  margin: 40px auto 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Home .buttons button:first-child{
  margin-right: 200px;
}

/* text */
.Home h1{
  font-size: 3.6rem;
  text-shadow: -6px 0px 0px var(--red);
  padding: 10px 30px;
  color: var(--main-lightyellow);
}
.Home h2{
  font-size: 2.4rem;
  /* text-shadow: -2px 0px 0px white; */
  color: var(--red-dark);
  margin-bottom: 50px;
  
}
