@import '../../utilities/variable.scss';

.Contact{
    padding: 100px 0;
}

.Contact .contact-container{
    background: rgba(41, 41, 71, 0.45);
    border: 3px solid var(--red);
    outline: 3px solid white;
    width: 600px;
    margin:  60px auto;
}
.Contact .contact-section{
    
}
.Contact .contact-section .label{

}
.Contact .contact-section p{

}