@import '../../utilities/variable.scss';

.Contact{
    padding: 100px 0;
}

.Contact .contact-container{
    background: rgba(0, 0, 0, 0.45);
    border: 3px solid var(--red);
    outline: 3px solid white;
    width: 90%;
    max-width: 600px;
    margin:  60px auto;
}
.Contact .contact-container h2{
    font-size: 3.6rem;
    text-shadow: -5px 0px 0px white;
    padding: 10px 30px;
    color: var(--red);
    border-bottom: 2px solid var(--red);
    padding: 20px 0 20px;
    margin: 0 0 40px;
    
  }

.Contact .contact-section{
    margin:35px;
}
.Contact .contact-section .contact-info{
    display: flex;
    margin: 20px 0;
}
.Contact .contact-section p{
    // width: 33%;
    flex-direction: flex-start;
    float: left;
}
.Contact .contact-section .label{
    margin-right: 15%;
}