/* import FacebookIcon from '../../images/social/facebook.png';
import instaIcon from '../../images/social/instagram.png';
import twitterIcon from '../../images/social/twitter.png'; */
@import "../../utilities/variable.scss";

.Footer{
    /* height: 440px; */
    margin: 0;
    background-color: var(--black-transparent);
    color: white;
    display:flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    gap:5vw;
    position: relative;
    padding-top: 25px;
    padding-bottom: 15px;;
          
}
.footer-backOverlay{
    --tw-backdrop-blur: blur(3px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);

}
.Footer .footer-section{
    background-color: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:fit-content;
    /* padding: 20% 20%; */


}
.footerLogo{
    display:flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
}
.Footer .footer-section .sub-section{
    width: 50%;
    margin: 40px 0;
}

.Footer .footer-section .sub-section .sub-container{
    text-align: left;
    margin: 0 auto;
    width: 337px;

}
.Footer .social-icons{
    display: flex;
    justify-content: center;
    gap:10px;
}
.Footer .social-icons .image{
    background-size: contain;
    width: 60px;
    height: 60px;
    border-radius: 14px;
    overflow: hidden;
    transition: all 0.3s;
}
.Footer .social-icons .image div{
    width: 60px;
    height: 60px;
    transition: all 0.3s;
}
.Footer .social-icons .image:hover{
    box-shadow: 0px 0px 15px 8px rgba(0,0,0, .475);
}
.Footer .social-icons .image div:hover{
    background: rgba(255,255,255, .275);
    cursor: pointer;
}
.Footer .social-icons .image div:active{
    background: rgba(0,0,0, .475);
}
/* Social buttons */
.Footer .social-icons .image.facebook{
    background-image: url('../../images/social/facebook.png');
}
.Footer .social-icons .image.instagram{
    background-image: url('../../images/social/instagram.png');
}
.Footer .social-icons .image.twitter{
    background-image: url('../../images/social/twitter.png');
}

.Footer .sub-input{
    display: flex;
    justify-content: space-between;
}
.Footer .sub-input input{
    background-color: var(--black-transparent);
    border: 2px solid var(--red);
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
    padding: 10px;
    color: white;
    font-size: .9rem;
    width: 200px;
}
.Footer .sub-input button{
    padding: 5px 0;
    box-shadow: 0 0 20px black;
    font-size: 1rem;
    border-radius: 6px;
    width: 100px;
}

// Meda queries phone
//

.Footer .footer-section .copyright{
    margin-top:auto;
    margin-bottom: 60px;
}
.copyright{
    font-size: .8rem;
}
.footer-small{
    position: absolute;
    bottom: 5px;
    left:5px;
    color: white !important;

}
.footer-small a{
color: white !important;
}
.footerLogo img{
        aspect-ratio: 1;
        width: 200px;
    }
@media (max-width: $phone){
    .footerLogo{
        justify-content: center;
    }
    .Footer{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 10px;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .Footer .footer-section{
        margin: 0 auto;
        .info{
            margin-bottom: 0;
        }
    }
    .Footer .footer-section .sub-section {
        width: 100%;
        .sub-container{
            width:100%;
            padding: 0 35px;
            text-align: center;
        }
    }
    .Footer .social-icons .image{
        width:40px;
        height:40px;
        background-repeat: no-repeat;
    }
    .Footer .social-icons .image div{
        width:40px;
        height:40px;
        background-repeat: no-repeat;
    }
    .footerLogo img{
        aspect-ratio: 1;
        width: 100px;
    }
    
}