@import '../../utilities/variable.scss';

.admin-modal.modal-container{
    background-color: rgba(0,0,0, 0.9);
}

.modal-show{
    display: block;
}
.admin-modal {
.editModal{
    height: 215px;
    background-color: rgba(0,0,0, 1);
    overflow-y: auto;
    margin: 0 auto;
    border: 3px solid var(--main-yellow);
    border-radius: 5px;
    position: relative;
    margin-top:calc(50vh - 200px);
    max-width:900px;
}
.editModal-dialog{
    max-width: 950px;
    overflow: auto;
    padding-bottom:45px;
    // margin: 0 auto;
}
.adminHelpContainer{
    max-height:5000px;
}
.adminHelpContainer.hide{
    max-height: 0px;
}
.modalCloseBtn{
    position: absolute;
    top:0;
    right:0;
    margin-top:3px;
    margin-right: 3px;
}
}
@media (max-width: $phone){
    .modal-container{
        padding:15px 5px; 
    }
}


#adminButtonSection{
    color: white;
    background-color: rgba(255,255,255,0.1);
    position:absolute;
    bottom:5px;
    right:5px;
    transition: all 0.3s;
    border: 2px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

#adminButtonSection:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    border-color: white;
}
#adminButtonSection:active{
background-color: black;
color:rgba(255,255,255,0.2);
}