/* :root {
  --main-lightyellow:  rgb(250, 233, 140);
  --main-yellow: rgb(255, 250, 104);  
  --main-darkyellow: rgb(136, 126, 73);

  --main-pink: rgb(255,102,102);
  --main-lightpink: rgb(226,138,126);
  --red: red;

  --main-padding: 15px;  
} */

.Navbar{
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    min-height: 9%;
    padding: 0px 5px 0px;
    /* display: flex; */
    // font-family: 'Luckiest Guy', cursive;
    font-family: "Open Sans", sans-serif;
    position: relative;
            --tw-backdrop-blur: blur(8px);
        backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    
}
.menu-div{
    z-index: 10
}
#navBarLogo{
    display: inline-block;
    margin-right:10px;
}
#navBarLogo img{
        width: 45px;
    height: 45px;
    margin-bottom: -15px;
}
.Navbar .Navbar-items{
    // background: var(--main-yellow);
    // border: 4px solid var(--red);
    border-top:0;
    width: auto;
    margin: 0 auto;
    // margin-top: 12px;
    padding: 0;
    border-radius: 35px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: inline-block;
    overflow: hidden;
}
.Navbar .Navbar-items a{
    text-decoration: none;
    // background: var(--main-yellow);
    color: var(--black);
    font-size: 1.2rem;
    padding: 16px 20px 15px;
    display: inline-block;
    // border-right: 2px dashed var(--red);
    transition: all 0.3s;
}
.Navbar .Navbar-items a::selection {
    color: none;
    background: none;
}

.Navbar .Navbar-items a:hover{
    // background: var(--main-lightyellow);
    color: var(--accent);

}
.Navbar .Navbar-items a:active{
    // background:   var(--main-darkyellow);
    color:  white;
}
.Navbar .Navbar-items a:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.Navbar .Navbar-items a:last-child{
    border-right:   none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Navbar .Navbar-items .bar-nav-current{
    // background: var(--main-lightyellow);
}
.Navbar .Navbar-items span{
    border-bottom: 3px solid transparent;
    padding-bottom: 4px;
    transition: all 0.3s;
}
.Navbar .Navbar-items .bar-nav-current span{
    border-color:  white;
    border-bottom-width: 3px;
}
.Navbar .Navbar-items .events span{
    font-size: .8rem;
    // font-family: "Lucida Console", Courier, monospace;
    font-family: "Open Sans", sans-serif;
    text-decoration: underline;
}
.Navbar .Navbar-items .events span::selection{
    color: none;
    background: none;
}
.bar-nav-item{
    // border-radius: 30px;
}
// Tablet styles
// ===============/

@media (max-width: 1190px){
    .Navbar{
        min-height: 100px;
        backdrop-filter:none;
        background-color: transparent;
        .Navbar-items{
            display: none;
            background: red
        }
    }
}
.menu-div{
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 200;
    // width: 100vw;
}

